@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
  }

  body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
  }

  logo {
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 0;
  }

  h5 {
    color: var(--dark-grayish-cyan);
    margin-top: 1.5rem;
  }

  input {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    font-family: 'space mono', monospace;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--very-light-grayish-cyan);
    padding:0rem 1rem;
    border-radius: 5px;
  }

  input::-webkit-input-placeholder {
    color: var(--very-dark-cyan);
}

  .input-icon-bill {
    background-image: url('images/icon-dollar.svg');
  }

  .input-icon-number-people {
    background-image: url('images/icon-person.svg');
  }

  .input-icon-bill, .input-icon-number-people {
    background-size: 0.6rem;
    background-repeat: no-repeat;
    background-position: 1rem center;
  }

  .container {
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
    padding: 2rem 2rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .tip-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 1rem;
  }

  .tip-section h5 {
    grid-column: 1 / span 2;
  }

  .tip-section button {
    grid-column: span 1; 
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
  }

  .tip-section .tip-input {
    padding: 0.5rem; 
  }

  .total-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 2rem;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 2rem;
    border-radius: 10px;
  }

  .display-tip-amount, .display-total {
    text-align: right;
    color: var(--strong-cyan);
    font-size: 30px;
  }

  .total-section button{
    grid-column: span 2;
    background-color: var(--strong-cyan);
    opacity: 0.1;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
  }

  .total-section h5 {
    color: var(--white);
  }

  .tip-button, .reset-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .tip-button:hover {
    background-color: var(--strong-cyan);
  }

  .tip-button.clicked {
    background-color: var(--strong-cyan);
  }

  .reset-button:hover {
    opacity: 1;
  }
  
  

  /*----responsive design----*/

  @media screen and (min-width: 860px) {

    logo{
      margin: 10rem 0 2rem 0;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem 2rem 2rem;
      gap: 2rem;
      border-radius: 20px;
      box-shadow: 0px 20px 50px 0px hsla(0, 0%, 0%, 0.2);
      margin: 5rem 5rem;
      max-width: 50rem;
      margin: 5rem auto;

    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 50%;
    }

    .tip-section {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
    }

    .tip-section h5 {
      grid-column: 1 / span 3;
    }

    .tip-section button,.tip-input {
      padding: 0.5rem;
      font-size: 20px;
    }

    .total-section {
      width: 50%;
    }

    .total-section button {
      height: min-content;
      padding: 0.2rem;
      margin: 4rem 0 0rem;
      font-size: 20px;
    }
  }
