@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
  }
  
  body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
  }
  
  logo {
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 0;
  }
  
  h5 {
    color: var(--dark-grayish-cyan);
  }
  
  input {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    font-family: 'space mono', monospace;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    padding: 1rem;
    border-radius: 10px;
  }
  
  .container {
    background-color: var(--white);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .tip-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 1rem;
  }
  
  .tip-section h5 {
    grid-column: 1 / span 2; /* Ocupa duas colunas, começando na primeira. */
  }
  
  .tip-section button {
    grid-column: span 1; /* Ocupa uma coluna, começando na próxima disponível. */
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
  }
  